.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar li {
  flex-basis: 50%;
  display: flex;
  align-items: center;
}
.navbar li:last-child {justify-content: flex-end}

.modal_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.7);
}
.modal_wrapper.hidden_wrap {display: none}
.modal-inner {
  width: 40%;
  padding: 15px;
  background: #fff;
}
.modal-inner input {
  margin-bottom: 10px;
}

.close_modal {
  float: right;
}

.wrong_data {
  border-color: #f00;  
}